.participant_list{
    padding-top: 41px;
    background-color: #F5F8FA;

}
.logo_part{
    height: 60px;   
}
.details_part{
    height: 186px;
  .name{
      font-size: 42px;
  }
  .link{
      font-size: 16px;
      padding-bottom: 32px;
  } 
  .participant_title{
    font: normal normal medium 16px/20px Rubik;

  } 
}